.stageBackground {
  background-color: aliceblue;
  height: 790px;
  width: 100%;
  border-radius: 10px;
}

.stageContainer {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  width: auto;
  padding: 30px;
}

.pledge {
  background-color: #f7b2c2;
  width: 540px;
  height: 100%;
  border-radius: 10px;

  display: flex;
  flex-direction: column;

}

/* Gift data */

.giftData {
  padding: 15px;
}

.giftName {
  font-weight: 600;
  color: var(--light-yellow);
  margin-bottom: 7px;
}

.setGoalBtn {
  margin-top: 30px;
}

.giftMoneyProgress {
  display: flex;
  justify-content: space-between;

  margin-top: 20px;
  margin-bottom: 4px;
}
.giftMoneyProgress > p {
  color: var(--white);
  font-weight: 600;
}


/* --------- */

/* Leader confirm money view */

.LeaderConfirmMoneyReceivedView {
  padding: 15px;
}

.LeaderConfirmMoneyReceivedView > h2 {
  margin-bottom: 10px;
  color: var(--light-yellow);
}

.confirmDiv {
  overflow: auto;
  height: 300px;
}

.confirmCard {
  background-color: var(--white);
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;

  border-radius: 10px;
  /* Add shadow*/
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  padding: 15px;
  width: 98%;
}

.confirmCard > div > p{
  width: 400px;
}

.controlBtns > div{
  margin-right: 10px;
  display: flex;
  gap: 20px;
}



/* --------- */


/* Member send money view */

.sendMoneyContainer {
  padding: 15px;
  height: 300px;
}

.sendMoneyContainer > h2 {
  font-weight: 600;
  color: var(--light-yellow);
  text-align: start;
}

.leaderPaymentContainer {
  margin-top: 20px;

  display: flex;
  flex-direction: column;

  gap: 10px;
  
}

.leaderPaymentContainer > p{
  font-weight: 600;
  font-size: 20px;
  color: var(--white);
}

.notifyContainer {
  margin-top: 20px;
}

.notifyContainer > h2 {
  font-size: 20px;
  color: var(--black);
}

.notifyBtn {
  margin-top: 14px;
  background-color: var(--green);
  padding: 15px;

  font-weight: 600;
  color: var(--white);

  border-radius: 10px;
}

/* --------- */


.pledge .giftData {
  height: 50%;
  /* background-color: ; */
  border-radius: 10px;
}


.received {
  background-color:#27e8b7;
  width: 300px;
  height: 100%;
  border-radius: 10px;
}

.receivedDiv {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.receivedDiv > h2 {
  color: var(--light-yellow);
  font-weight: 600;
}

.line {
  height: 2px;
  background-color: var(--white);
}

.receivedNotificationContainer {
  width: 300px;
  height: 92%;

  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
}

.scrollable {
  overflow-y: scroll;
}

.scrollable::-webkit-scrollbar {
  width: 10px;
  background-color: none;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: var(--white);
  border-radius: 20px;
}

.notification {
  margin: 15px;
  /* margin-bottom: 2x; */
  background-color: rgb(237, 140, 163);
  text-align: center;

  padding: 20px;
  border-radius: 10px;
}

.notification > p {
  color: var(--white);
  font-weight: 600;
}
