.linkedAccountsForm{
    height: 311.11px;
    width: 592px; 
    background-color: #FFFFFF; 
}

.companyIcons{
    width: 50px; 
    height: 46px; 
    /* margin: 0px;
    text-align: center;
    align-items: center; */
}

.iconButton, .xIcon{
    width:20px; 
    height: 20px;
}