.background {
    background-color: #F8FFE5;
    height: 100vh;
}

.contactsHeader {
    display: flex;
    gap: 28px;
    align-items: center;
    margin-left: 90px;
    margin-bottom: 14px;
    padding-top: 40px;
}

.burgerIcon {
    width: 40px;
    height: auto;
    position: absolute;
    left: 32px;
    top: 120px;
}

.contactIcon {
    width: 40px;
    height: 40px;
    position: relative;
    top: 4px;
}

.iconAndTitle {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-left: 20px;
    gap: 10px;
}

.searchInput {
    width: 600px;
    height: 45px;
    background-color: #D9D9D9;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    border-radius: 90px;
    border: none;
    box-shadow: none;
    padding-left: 45px;
}

.searchBar {
    padding-left: 34px;
}

.magIcon {
    font-size: 27px;
    position: absolute;
    left: 350px;
    top: 121px;
    color: grey;
}

.leftBar {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 605px;
}

.fourColorPlusSign {
    height: 28px;
    width: auto;
    position: absolute;
    top: 222px;
    left: 35px;
}

.createContactButton {
    display: flex;
    padding-left: 25px;
}

.viewButtons {
    width: 320px;
    height: 60px;
    font-size: 20px;
    background-color: white;
    color: black;
    font-family: 'Montserrat';
    font-weight: 500;
    text-transform: none;
    padding-right: 160px;
    border: none;
    box-shadow: none;
    background-color: #F8FFE5;
    cursor: pointer;
    border-radius: 0px 90px 90px 0px;
}

.viewButtons.clicked {
    background-color: rgba(6, 214, 160, 0.2);
    border-radius: 0px 90px 90px 0px;
  }
  
.viewIcons {
    font-size: 25px;
}

.recentView .viewButtons {
    padding-right: 170px;
}

.favoriteView .viewButtons {
    padding-left: 2px;
}


.navigationButtons {
    display: flex;
    gap: 6px;
    height: 30px;
    margin-top: 12px;
}

.navButtons {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
}

.navButtons:focus {
    outline: none;
}

.rightBar {
    /* border: red solid 1px; */
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.contactList {
    display: flex;
    margin-top: 50px;
}

.rightBarHeader {
    display: flex;
    gap: 70px;
}

.pName {
    padding-right: 130px;
}

.pEmail {
    padding-right: 210px;
}

.mainHorizontalLine {
    width: 1070px;
    margin-right: 10px;
}

.favoriteIcon {
    cursor: pointer;
    font-size: 28px;
}

.contactItem {
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: 'Montserrat';
    margin-bottom: 50px;
    margin-top: 20px;
}

.contactInfo {
    display: flex;
    font-size: 18px;
    font-family: 'Montserrat';
    padding-top: 8px;
}

.dName {
    width: 198px;
}

.dEmail {
    width: 332px;
}

.dPhone {
    width: 198px;
}

.dRelationship {
    width: 200px;
}

.popOverContent {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    padding-right: 30px;
    border-radius: 35px;
}

.radioButton1 {
    display: flex;
    align-items: center;
    gap: 15px;
}

.radioButton2 {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Hide the default radio button */
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #ccc;
  outline: none;
  transition: border-color 0.2s;
}

/* Customize the appearance of the checked radio button */
input[type="radio"]:checked {
  border-color: var(--blue);
  background-color: var(--green);
}

/* Style the label for the radio button */
label {
  margin-left: 5px;
  cursor: pointer;
}