form {
    width: 1000px;
    height: 905px;
}

.userInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

input {
    width: 530px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #D7D7D7;
    padding: 5px;
}

.fullName {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}

.fullName input {
    width: 250px;
}

.email {
    margin-bottom: 20px;
}

.phoneNumber {
    margin-bottom: 20px;
}

.relationshipSection {
    display: flex;
    margin-left: 42px;
    gap: 20px;
    margin-bottom: 20px;
}

.relationshipSection button {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.addRelationship {
    display: flex;
    margin-left: 42px;
}

.addRelationship button {
    margin-left: 20px;
}