.stageBackground {
  background-color: aliceblue;
  height: 790px;
  border-radius: 10px;
  width: 100%;
  padding: 20px;
}

.buttonControls {
  display: flex;
  justify-content: start
}

.brainstormItemsContainer {
  background-color: blueviolet;
  width: 100%;
  height: 100%;
}