.memberUl {
  list-style: none;
  padding-left: 20px;
}

.memberContainer {
  position: relative;
  width: 250px;
  height: 58px;

  background-color: var(--white);
  border-radius: 10px;

  margin-bottom: 40px;
}

.memberContainer p {
  position: absolute;
  left: 20px;
  top: 17px;
  margin: 0px;
  width: 180px;
}
