@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


:root {
    --light-yellow: #f8ffe5;
    --green: #06D5A0;
    --blue: #1B9AAA;
    --pink: #EF476F;
    --orange-yellow: #FFC43D;
    --black: rgb(54, 51, 66);
    --mont: 'Montserrat', sans-serif;
    --white: #F5f5f7
}

html {
    box-sizing: border-box;
    font-size: 80%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    font-family: var(--mont);
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--mont);
    background-color: var(--white);
    font-size: 1.3rem;
}

img {
    display: inline;
}
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    color: var(--black);
}

nav .navOnlyTextActive.active {
    padding: 5px;
    background-color: var(--green);
    border-radius: 7px;
    cursor: default;
    color: var(--white);
}

nav .navOnlyTextActive.active:hover {
    text-decoration: none;
}

#modal {
    position: fixed;
    box-sizing: border-box;
    inset: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: none;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.25);
    /* Semi-transparent gray */
}