.top_container {
  display: grid;
  padding: 0;
  grid-template-columns: 0.5fr repeat(5, 1fr);
  margin: 1rem;
  margin-right: 30px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.plan_btn {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.burger_btn {
  width: 0;
}

.burger_btn_wrapper {
  display: flex;
  justify-content: start;
}

.collected_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19rem;
  height: 5.5rem;
  flex-flow: wrap;
  background-color: #F5f5f7;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #d7d7d7;
  grid-column: 7;
  padding: 0.5rem;
  gap: 0.5rem;
}

.special_person_wrapper {
  display: flex;
  text-align: left;
  grid-column: 2/5;
  height: 100%;
  align-items: center;
}

.special_person {
  margin: 0;
}

#collected_h4 {
  flex-basis: 100%;
  text-align: center;
  text-align: center;
  align-items: center;
  margin: 0;
  color: var(--black);
}

@media (min-width: 800px) {
  #collected_h4 {
    text-align: center;
    flex-basis: auto;
    margin: 1rem;
  }

  .collected_container {
    justify-content: space-between;
    width: 24rem;
  }
}

.fa_plus {
  color: var(--pink);
  font-size: 2.5rem;
  margin: 0.1rem;
}

.fa_bars {
  font-size: 2.5rem;
}

.plan_section {
  background-color: #AFFAE7;
  width: 90%;
  margin: 0 30px 60px auto;
  height: 45rem;
  display: grid;
  grid-template-columns: 0.5fr 0.4fr 0.6fr 0.4fr;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #d7d7d7;
}


.idea_list,
.pledge_list {
  margin: 1rem 1rem;
  background-color: #F5f5f7;
  border-radius: 10px;
  padding: 5px 15px;
  list-style-type: none;
  box-shadow: 5px 5px 15px #bcbcbc;

}


.idea_list {
  width: 80%;
  height: 20rem;

}

.pledge_list {
  width: 92%;
  box-sizing: border-box;
  grid-column: 4;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}